

nav ul{	
	list-style:none;
	padding:0;
	display:flex;
	justify-content:center;
}

nav li{
	 margin:0 1em;
}

nav a {
	font-family:"Brush Script MT", cursive;
	text-decoration:none;
	color: black;
	font-weight: 700;
	padding: .25em 0;
}

nav a:hover, 
nav a :focus{
	color : white;
}

.current-page{
  border-bottom: 2px solid black;
  padding: 15px;
}

.current-page: hover {
	color:solid black;
}

/*page 3*/

body{
	text-align: center;
}

@Keyframes mymove {
	from{background-color:lightblue;}
	to{background-color: pink;}
}

.mymove{
    animation:mymove 10s infinite;
}

p{
	animation:mymove 10s infinite;
}